@import url("https://fonts.cdnfonts.com/css/bleeding-cowboys");

.catalog h3 {
    font-family: "Bleeding Cowboys", sans-serif;
    font-size: 95px;
    color: darkred;
    text-shadow: black 4px 4px 4px;
    z-index: -1;
}

.catalog h5 {
    font-size: x-large;
    margin-top: 60px;
}

.catalog {
    margin-top: 40px;
}
