@import url("https://fonts.cdnfonts.com/css/bleeding-cowboys");

.contact {
    font-family: "Bleeding Cowboys", sans-serif;
    font-size: 100px;
    color: black;
}

.contact-div {
    margin-top: 200px;
}
