@import url("https://fonts.cdnfonts.com/css/bleeding-cowboys");

.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title h3 {
    font-family: "Bleeding Cowboys", sans-serif;
    font-size: 95px;
    color: darkred;
    text-shadow: black 4px 4px 4px;
    z-index: +6;
}

.title h5 {
    font-size: x-large;
    margin-top: 60px;
}

.icon {
    margin-top: calc(100vh - 300px);
    height: 8vmin;
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 0px;
}

.icon {
    animation: icon-spin 100s ease-in-out infinite;
}

.icon-accross {
    animation: icon-slide infinite ease-in-out 100s;
}

.icon-hop {
    animation: icon-bounce infinite ease-in-out 100s;
}

.icon-link {
    color: #61dafb;
}

@keyframes icon-spin {
    0% {
        transform: rotate(0.5turn);
    }
    .5% {
        transform: rotate(6turn);
    }
    25.87% {
        transform: rotate(-2turn);
    }
    50% {
        transform: rotate(2turn);
    }
    75% {
        transform: rotate(-5turn);
    }
    100% {
        transform: rotate(0turn);
    }
}

@keyframes icon-slide {
    0% {
        transform: translateX(55%);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(25%);
    }
    75% {
        transform: translateX(-55%);
    }
    100% {
        transform: translateX(55%);
    }
}

@keyframes icon-bounce {
    0% {
        transform: translateY(-20px);
    }

    6.5% {
        transform: translateY(0px);
    }

    11.75% {
        transform: translateY(-70px);
    }

    16.5% {
        transform: translateY(0px);
    }

    18.5% {
        transform: translateY(-30px);
    }

    24.5% {
        transform: translateY(0px);
    }

    34.% {
        transform: translateY(30px);
    }

    44% {
        transform: translateY(-15px);
    }

    47% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-70px);
    }

    75% {
        transform: translateY(0px);
    }

    93.5% {
        transform: translateY(-140px);
    }

    100% {
        transform: translateY(0px);
    }
}
