.App {
    background-image: url(../public/images/DALL·E\ Desert.png);
    text-align: center;
    background-size: 100%;
    position: contain;
    max-width: 100%;
    overflow: hidden;
}

.page-content {
    min-height: calc(100vh - 180px);
}
