.App {
    background-color: burlywood;
    text-align: center;
}

.App-logo {
    margin-top: 150px;
    height: 8vmin;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 45px;
}

@media {
    .App-logo {
        animation: App-logo-spin infinite 10s;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        animation-direction: reverse;
        transform: rotate(360deg);
    }
    to {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
to {
    transform: rotate(-360deg);
}

@keyframes App-logo-slide {
    from {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(25%);
    }
    75% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(100%);
    }
}

.App-logo-roll {
    animation: App-logo-slide infinite 90s;
}

.page-content {
    min-height: calc(100vh - 150px);
}
